form {display: table;}
p {display: table-row;}
label {display: table-cell;}
input {
    display: table-cell;
    margin-bottom: 5px;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

th, td {
    padding: 8px;
}
